* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    

}

body {
    display: flex;
    justify-content: center;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    padding-bottom: 15%;

}

.main {
    width: 85%;
    padding-top: 17%;
    
}

.first-section {
    padding: 6% 0;
}

h1 {
    text-align: center;
    padding: 4% 0;
    color: white;
}

.first-para{
    text-align: center;
    padding-bottom: 13%;
    color: white;
}

.button-div {
    padding-bottom: 6%;
    border-radius: 8%;
}

.try-button {
    width: 100%;
    background-color: hsl(248, 32%, 49%);
    padding: 6%;
    border-radius: 8%;
    border: none;
    color: white;
}


.form-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3% 0;
    background-color: white;
    border-radius: 3%;
}

.button-div {
    background-color: transparent;
}

fieldset {
    border: none;
}

label {
   display: block;
    padding: 3% 0;
}

input {
    display: block;
    width: 90%;
    margin: auto;
    padding: 3%;
    border-radius: 8%;
    border-color: rgb(247 220 220 / 40%);
    border-width: medium;
    position: relative; 

}


.hidden-alert {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 -10% 0;
    padding-right: 9%;
     position: relative;
    transform: translate(0%, -63%); 
    
}

.alert-img {
    padding-bottom: 3%;
}

.message-alert {
    color: hsl(0, 100%, 74%);
    font-size: 0.7rem;
    
}

.claim-button {
    width: 90%;
    margin: 3% auto;
    padding: 4% 0;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 8%;
    font-weight: 500;
    color: white;

}

.claim-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.terms-p {
    padding-left: 7%;
    width: 90%;
    text-align: center;
    font-size: 0.6rem;
    color: hsl(249, 10%, 26%);
}

.last-p {
    padding-left: 7%;
    width: 90%;
    text-align: center;
    font-size: 0.6rem;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

a {
    font-size: 0.6rem;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    text-decoration: none;
}

::placeholder {
    color: hsl(249, 10%, 26%);
    font-weight: 700;
}

@media (min-width: 960px) {
    
    body {
        background-image: url(./images/bg-intro-desktop.png);
    }
    
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        padding-top: 4%;

    }

    .first-section {
        width: 100%;
        margin-right: 2%;
        
    }
    h1 {
        padding: 14% 0 4% 0;
        font-size: 2.4rem;
        text-align: initial;
    }

    .first-para {
        text-align: initial;
        font-size: 0.9rem;
        padding-right: 0%;
        
    }

    .second-section {
        width: 100%;
        margin-left: 2%;
    }

    .form-div {
        padding: 3% 0 6% 0;
    }

    .button-div {
        padding-bottom: 4%;
    }

    .try-button {
        padding: 4%;
        padding: auto;
    }

    .paraph-button {
        display: flex;
        padding: 0 18%;
    }

    .claim-button {
        padding: 3% 0;
    }


    .terms-div {
        display: flex;

    }
    .terms-p {
        padding-right: 1%;
        width: 70%;
        text-align: right;
        
    }
    
    .last-p {
        padding: 0%;
        width: 40%;
        text-align: left;

    }
}